[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
jupyter = "*"
pandas = "*"
google-api-python-client = "*"
youtube-transcript-api = "*"
openai = "*"
langchain = "*"
python-dotenv = "*"
matplotlib = "*"
langchain-openai = "*"
chromadb = "*"
langchainhub = "*"
gradio = "*"
langchain-community = "*"
neo4j = "*"
langchain-experimental = "*"
wikipedia = "*"
xmltodict = "*"
tavily-python = "*"

[dev-packages]

[requires]
python_version = "3.12"
